<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <link rel="icon" href="https://raw.githubusercontent.com/EzioTheDeadPoet/Tales-from-the-Northern-Lands/master/assets/images/favicon64px.png"  type="image/x-icon">
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>
        <ul>
          <li><a class="buttons releases" href="{{ site.github.modlistrelases_url }}">Download Releases</a></li>
          <!--{% if site.show_downloads %}
            <li class="download"><a class="buttons" href="{{ site.github.modlist_url }}">Modlistdownload</a></li>
          {% endif %}-->
          <!--<li><a class="buttons github" href="{{ site.github.repository_url }}">View On GitHub</a></li>-->
          <li><a class="buttons wabbajack" href="{{ site.wabbajack.wabbajack_url }}">Wabbajack Tool</a></li>
          <li><a class="buttons" href="https://eziothedeadpoet.github.io/AboutMe/">About Me</a></li>
          <!--<li><a class="buttons license" href="{{ site.reshade.license }}">ReShadeLicense</a></li>-->
        </ul>
        {% if site.github.is_project_page %}
          <p class="header">This Modlist is maintained by <a class="header name" href="https://eziothedeadpoet.github.io/AboutMe/">Luca|EzioTheDeadPoet</a></p>
        {% endif %}
        <!--<p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using a modified version the Dinky theme.</small></p>-->
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        
      </footer>
    </div>
  </body>
</html>
